:root {
  --background: #0f172a;
  --background-secondary: #010012;
  --surface: #1e293b;
  --primary: #2563eb;
  --secondary: #0784f2;
  --tertiary: #0028ba;
  --text: #fff;

  --debug: 1px solid red;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  height: 70px;
  padding: 0 2rem;
  background-color: var(--background-secondary);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#logo-header {
  font-size: 1.5rem;
  color: var(--text);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 6rem;
  font-size: 1.1rem;
  list-style-type: none;
}

li a {
  display: block;
  padding: 0.3rem 1.2rem;
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}

li a:hover {
  color: var(--secondary);
}

#nav-register {
  background: var(--tertiary);
  padding: 0.7rem 1.4rem;
  color: var(--text);
  border-radius: 10px;
}

#nav-register:hover {
  background: var(--primary);
  color: var(--text);
}

section {
  background-color: var(--background-secondary);
  min-height: 100vh;
}
