#about {
  display: flex;
  align-items: center;
}

.about-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-image {
  flex: 0 0 600px;
  display: flex;
  justify-content: flex-end;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 800px;
}

#about p {
  margin: 0;
  color: var(--text);
  font-size: 1rem;
  line-height: 2;
  max-width: 700px;
}

#about h2 {
  color: var(--text);
  font-size: 2.5rem;
  line-height: 1.1;
}
